.Pagination-сontainer {
  display: flex;
  padding: 24px;
  justify-content: center;
}

.Pagination-сontainer-item {
  padding: 0 12px;
  color: var(--cta-color);
  cursor: pointer;
}

.Pagination-сontainer-item:hover,
.Pagination-сontainer-item:focus {
  color: var(--cta-color-pressed);
  text-decoration: underline;
}

.Pagination-current, 
.Pagination-current:hover,
.Pagination-current:focus {
  color: var(--main-color);
  pointer-events: none;
}
