:root {
  --light-gray: #ededed;
  --main-color: #4a4a4a;
  --cta-color: #ea7f28;
  --cta-color-pressed: #d37324;
}

* {
  text-align: left;
}

html, 
body {
  font: 14px/1.5 'Roboto', sans-serif;
}

.App-layout {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
}
