.Favourites-container {
  padding: 24px;
}

.Favourites-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}

.Favourites-item-wrapper {
  position: relative;
}

.Favourites-description {
  font-size: 18px;
  line-height: 2;
}

.Favourites-remove-lnk {
  color: var(--cta-color);
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 24px;
}

.Favourites-remove-lnk:hover,
.Favourites-remove-lnk:focus {
  color: var(--cta-color-pressed);
  text-decoration: underline;
}
